.datasheet {
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 5%;
 }
 .title {
     text-align: center;
     
 }
 h2{
   margin-bottom: 0px;
 }
 .details {
     display: flex;
     flex-direction: column;
 
 }
 
   table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     font-size: 13px;
     padding: 5px;
     vertical-align: top;
     text-align: left;
   }
 
   .remarks{
     padding:20px 0px;
   }
   .verificationBlock{
     display: flex;
     justify-content: space-around;
   }