.container_kes{

    table{
        width: 100%;
        th{
          font-weight: 500;
          text-align: left;
          font-size: 13px;
        }
      }
      // tr{
      //   display: table-row-group;
      // }
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 13px;
        padding: 5px;
        vertical-align: top;
      }
      
      div{
        padding: 2px 4px;
        font-size: 13px;
      }
  }
  
    .centerText{
      text-align: center;
    }
    .adressField{
      min-height: 30px;
    }
    .halfWidth{
      width: 50%;
    }
    .amountWords{
      text-align: end !important;
    }
    .decleration{
      min-height: 55px;
      line-height: 15px;
  
    }
    .termsConditons{
      div{
        line-height: 15px;
      }
    }
    .sacgst{
      display: grid;
      grid-template-columns: auto auto;
    }
    .eoe{
      position: absolute;bottom: 0;border-top: 1px solid;width: 92%;
    }
    .dataTable{
      table{
        width:100% !important
      }
      tr{
        width:100%
      }
    }
  
    .flexspacebetween{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .table-wrapper {
      page-break-inside: avoid;
      
  }
  
  .paymentDetails{
    label{
      margin-bottom: 2px;
    }
  }
  
  .saif{
    display: none;
  }
  
  
  .imageContainer {
    top:10px;
    img{
      width:100%
    }
    /* Additional CSS properties for positioning, size, etc. */
  }
  
  .maincontent {
    position: absolute !important;
    top:8 !important;
  }
  